$screen-phone: 320px; // 手機 ;
$screen-tablet: 768px; // 平板
$screen-desktop: 980px; // 筆電、桌機
$screen-lg-desktop: 1280px; // 較大桌機　

$screen-phone-max: 767px;
$screen-tablet-max: 979px;
$screen-desktop-max: 1279px;

$screen-lg-desktop-wrapper: 890px;
$screen-desktop-wrapper: 710px;
$font-table-family: '微軟正黑體', 'Arial, Helvetica, sans-serif';

$calendarWidth: 50%;
$monthBg: #ede9dd;
$body-bg: #f8f8f8;
$tourInfo-hover-bg: #fff9e3; //
$font-size-weekday: 0.85rem;
// 月曆版字體大小
$font-size-info: 0.75rem;
// 直版中間字體大小
$font-size-straigt: 0.85rem;

$tourInfo-border-hover-color: #66bb3c;
$tourInfo-border-color: #eeeeee;
// stutus Color
$tourInfo-color-lightg: #24a07c; // 候補 請洽專員
$tourInfo-color-org: #ff7800; //報名// 預定
$tourInfo-color-gray: #999; // 關團 //額滿 // 截止
$tourInfo-color-dark: #666; //餐團數量
$tourInfo-color-red: #e10500; // // 價錢
$tourInfo-color-blue: #0077b3; // 多團

.list-unstyle {
  list-style: none;
}
.jusifyCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}

.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
body {
  background: $body-bg;
  font-family: $font-table-family;
}
.blue {
  color: $tourInfo-color-blue;
}
.lightg {
  color: $tourInfo-color-lightg;
}
.org {
  color: $tourInfo-color-org;
}
.gray {
  color: $tourInfo-color-gray;
}
.dark {
  color: $tourInfo-color-dark;
}
.wrapper {
  position: relative;
  width: $screen-lg-desktop;
  margin: 0 auto;
  .switchBtn {
    position: absolute;
    left: 0;
    top: 0;
  }
  .container {
    width: 50%;
    // min-height: 400px;
    padding: 12px;
    margin: 0 auto;
    border: 2px solid #86cacb;
    background: #fff;

    .calender {
      width: 100%;

      .monthYears {
        div {
          background: #ede9dd;
          cursor: pointer;
          text-align: center;
          height: 50px;
          color: $tourInfo-color-dark;
        }
        .monthTab {
          width: 90%;
          div {
            flex-grow: 1;
          }
        }
        .pageBtn {
          width: 5%;
          position: relative;
        }
        .prev:before {
          margin: auto;
          position: absolute;
          display: inline-block;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 7px 7px 0;
          border-color: transparent #e10500 transparent transparent;
        }
        .next:before {
          margin: auto;
          position: absolute;
          display: inline-block;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 0 7px 7px;
          border-color: transparent transparent transparent #e10500;
        }
      }
      .calendarMain {
        min-height: 542px;
        .dateContent {
          height: 100%;
          .weekday {
            background: transparent;
            border: 1px solid $tourInfo-border-color;
            font-size: $font-size-weekday;
            font-weight: 600;
            color: $tourInfo-color-dark;
            padding: 6px 0;
            div {
              width: calc((1 / 7) * 100%);
              text-align: center;
            }
          }
          background: transparent;
          .itineraryBox {
            flex-wrap: wrap;
            border-left: 1px solid $tourInfo-border-color;
            .disable {
              background: $body-bg;
              border: none !important;
            }
            .active:hover {
              cursor: pointer;
              background: $tourInfo-hover-bg;
            }
            .itinerary {
              border: 1px solid $tourInfo-border-color;
              border-collapse: collapse;
              border-spacing: 0;
              border-top: none;
              border-left: none;

              position: relative;
              box-sizing: border-box;
              height: 85px;
              width: calc((1 / 7) * 100%);
              // 成團區塊
              .readytogo {
                position: absolute;
                right: 2px;
                top: 2px;
                background: #ff7800;
                color: #fff;
                padding: 2px 8px;
              }
              .mutiTour {
                margin-bottom: 1rem;
              }

              .red {
                color: $tourInfo-color-red;
                span {
                  display: inline;
                }
              }
              // 日期F
              :nth-child(2) {
                padding: 2px;
              }
              span {
                font-size: $font-size-info;
                display: block;
              }
            }
            .pageArea {
              height: 50px;
              width: 100%;
            }
          }
          .straightContainer {
            height: 542px;
            .itineraryStraightBox {
              height: 92%;
              flex-direction: column;
              .active:hover {
                cursor: pointer;
                background: $tourInfo-hover-bg;
                border: 1px solid $tourInfo-border-hover-color !important;
              }
              .itineraryStraight {
                width: 100%;
                flex-grow: 1;
                max-height: 62px;
                box-sizing: border-box;
                border: 1px solid $tourInfo-border-color;
                border-top: none !important;

                .date {
                  width: 10%;
                  flex-direction: column;
                  :first-child {
                    font-size: 1.5rem;
                  }
                }
                .detail {
                  width: 65%;
                  font-size: $font-size-straigt;
                  flex-direction: column;

                  .ready {
                    background: #ff7800;
                    color: #fff;
                    padding: 1px 4px;
                    border-radius: 4px;
                  }
                  div {
                    padding: 5px 0;
                    span {
                      margin-right: 20px;
                    }
                  }
                }
                .priceStatus {
                  width: 25%;
                  flex-direction: column;
                  align-items: flex-end;
                  span {
                    padding: 2px 5px;
                  }
                  .red {
                    color: $tourInfo-color-red;
                  }
                }
              }
            }
            .pageArea {
              height: 8%;
              justify-content: space-between;
              align-items: center;
              margin: 5px 0;
              .pageBtnStraight {
                color: $tourInfo-color-blue;
                text-decoration: underline;
                cursor: pointer;
              }
              .left {
                margin: 2px 4px;
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4.5px 5px 4.5px 0;
                border-color: transparent $tourInfo-color-blue transparent
                  transparent;
              }
              .right {
                margin: 2px 4px;
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4.5px 0 4.5px 5px;
                border-color: transparent transparent transparent
                  $tourInfo-color-blue;
              }
            }
          }
        }
      }
    }
  }
}
