$screen-phone: 320px; // 手機 ;
$screen-tablet: 768px; // 平板
$screen-desktop: 980px; // 筆電、桌機
$screen-lg-desktop: 1280px; // 較大桌機　

$screen-phone-max: 767px;
$screen-tablet-max: 979px;
$screen-desktop-max: 1279px;

$screen-lg-desktop-wrapper: 890px;
$screen-desktop-wrapper: 710px;
$calendarWidth: 50%;
$monthBg: #ede9dd;

.list-unstyle {
  list-style: none;
}
.jusifyCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}

.d-flex {
  display: flex;
}
.wrapper {
  width: $screen-lg-desktop;
  .calender {
    width: $calendarWidth;
    margin: 0 auto;
    .monthYears {
      div {
        flex-grow: 1;
        background: #ede9dd;
        cursor: pointer;
        text-align: center;
      }
    }
    .calendarMain {
      .weekday {
        background: yellow;
        div {
          width: calc((1 / 7) * 100%);
          text-align: center;
        }
      }
      .dateContent {
        flex-wrap: wrap;
        .itinerary {
          width: calc((1 / 7) * 100%);
          background: blue;
        }
      }
    }
  }
}
